@model GeneralPersonViewModel
@{
    Layout = null;
    string css = Model.PersonId > 0 ? "col-lg-10" : "col-lg-12";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.PersonId)
<div class="row">
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.PersonTitle, new { @class = "form-label required" })
            @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
       {
           DropdownSelectedValue = Model.PersonTitle ?? string.Empty,
           DropdownName = "PersonTitle",
           GroupCode = DropdownTypeEnum.Title.ToString(),
           IsTextValueSame = true
       })
            @Html.ValidationMessageFor(x => x.PersonTitle)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.FirstName, new { @class = "form-label required" })
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.FirstName)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.MiddleName, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.MiddleName)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.LastName, new { @class = "form-label required" })
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.LastName)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.GenderEnumId, new { @class = "form-label required" })
            @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
       {
           DropdownSelectedValue = Model.GenderEnumId.ToString(),
           DropdownName = "GenderEnumId",
           GroupCode = DropdownTypeEnum.Gender.ToString()
       })   @Html.ValidationMessageFor(x => x.GenderEnumId)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.DateOfBirth, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control", @readonly = "true" })
            @Html.ValidationMessageFor(x => x.DateOfBirth)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.AnniversaryDate, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.AnniversaryDate, new { @class = "form-control", @readonly = "true" })
            @Html.ValidationMessageFor(x => x.AnniversaryDate)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.EmailId, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.EmailId)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.MobileNumber, new { @class = "form-label required" })
            @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control", onkeypress = "return CoditechCommon.ValidNumeric()" })
            @Html.ValidationMessageFor(x => x.MobileNumber)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.PhoneNumber, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PhoneNumber)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.EmergencyContact, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.EmergencyContact, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.EmergencyContact)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.MaritalStatus, new { @class = "form-label" })
            @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
       {
           DropdownType = DropdownTypeEnum.MaritalStatus.ToString(),
           DropdownName = "MaritalStatus",
           DropdownSelectedValue = Model.MaritalStatus ?? string.Empty,
       })
            @Html.ValidationMessageFor(x => x.MaritalStatus)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.GeneralNationalityMasterId, new { @class = "form-label required" })
            @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
       {
           DropdownType = DropdownTypeEnum.Nationality.ToString(),
           DropdownName = "GeneralNationalityMasterId",
           DropdownSelectedValue = Model.GeneralNationalityMasterId
            .ToString()
       })
            @Html.ValidationMessageFor(x => x.GeneralNationalityMasterId)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.BloodGroup, new { @class = "form-label" })
            @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
       {
           DropdownType = DropdownTypeEnum.BloodGroups.ToString(),
           DropdownName = "BloodGroup",
           DropdownSelectedValue = Model.BloodGroup ?? string.Empty,
       })
            @Html.ValidationMessageFor(x => x.BloodGroup)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.IndentificationEnumId, new { @class = "form-label" })
            @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
       {
           DropdownSelectedValue = Model.IndentificationEnumId
            .ToString(),
           DropdownName = "IndentificationEnumId",
           GroupCode = DropdownTypeEnum.IndentificationType.ToString(),
           IsRequired = false
       })   @Html.ValidationMessageFor(x => x.IndentificationEnumId)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.IndentificationNumber, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.IndentificationNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.IndentificationNumber)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.BirthMark, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.BirthMark, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.BirthMark)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.AttendanceIntegrationId, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.AttendanceIntegrationId, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.AttendanceIntegrationId)
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-3">
            @Html.LabelFor(x => x.GeneralOccupationMasterId, new { @class = "form-label" })
            @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
       {
           DropdownType = DropdownTypeEnum.Occupation.ToString(),
           DropdownName = "GeneralOccupationMasterId",
           DropdownSelectedValue = Model.GeneralOccupationMasterId.ToString(),
           IsRequired = false
       })
            @Html.ValidationMessageFor(x => x.GeneralOccupationMasterId)
        </div>
    </div>

</div>
<button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
<a href="../@controllerName/List" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
