@model GymWorkoutPlanDetailsViewModel
@{
    ViewBag.Title = "Gym Workout Plan Details";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    Dictionary<string, string> keyValuePairs = new Dictionary<string, string>();
    keyValuePairs.Add("GymWorkoutPlanId", Model.GymWorkoutPlanModel.GymWorkoutPlanId.ToString());
    ModelPopUpViewModel addGymMemberBodyMeasurementModel = new ModelPopUpViewModel() { ModelPopUpId = "AddGymMemberBodyMeasurementModelPopupId", ModalContentId = "AddGymMemberBodyMeasurementContentId" };
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                @Html.Partial("~/Views/Gym/GymWorkoutPlan/_GymWorkoutPlanSidePannel.cshtml", keyValuePairs)
            </div>
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Workout Plan Details- @Model.GymWorkoutPlanModel.WorkoutPlanName</h4>
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        <div class="row">

                            @for (int week = 1; week <= Model.GymWorkoutPlanModel.NumberOfWeeks; week++)
                                {
                                    <div class="col-lg-12 mb-3">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Week @week</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">

                                                @for (int day = 1; day <= Model.GymWorkoutPlanModel.NumberOfDaysPerWeek; day++)
                                                    {
                                                        <div class="col-lg-6 mb-3">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h6>Day @day</h6>
                                                                </div>
                                                                <div class="card-body">
                                                                    
                                                                    <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editWorkoutModal" onclick="openEditWorkoutModal(@week, @day)">Edit</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <button type="button" class="btn btn-success" onclick="addWorkoutDay(@week)">Add Workout Day</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/_ModelPopUp.cshtml", addGymMemberBodyMeasurementModel)

 