@model HospitalPathologyTestGroupViewModel
@{
    ViewBag.Title = Model.HospitalPathologyTestGroupId > 0 ? "Update Pathology Test Group" : "Add Pathology Test Group";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    DropdownViewModel pathologyTestGroup = new DropdownViewModel() { DropdownType = DropdownTypeEnum.HospitalPathologyTestGroup.ToString(), DropdownName = "HospitalPathologyTestGroupParentId", DropdownSelectedValue = Model.HospitalPathologyTestGroupParentId.ToString(), ChangeEvent = "", Parameter = Model.HospitalPathologyTestGroupId.ToString() };
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.HospitalPathologyTestGroupId > 0)
                                {
                                    <h4 class="card-title">Update Pathology Test Group</h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Create Pathology Test Group</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.HospitalPathologyTestGroupId)
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.PathologyTestGroupName, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.PathologyTestGroupName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.PathologyTestGroupName)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.HospitalPathologyTestGroupParentId, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", pathologyTestGroup)
                                        @Html.ValidationMessageFor(x => x.HospitalPathologyTestGroupParentId)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.IsActive, new { @class = "form-label" })
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/List" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
