@using Coditech.Admin.Utilities;
@model GeneralPersonViewModel
@{
    Layout = null;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string css = Model.PersonId > 0 ? "col-lg-10" : "col-lg-12";
}
<div class="@css">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.PersonId)
                ;
                @Html.HiddenFor(m => m.UserType)
                ;
                <div class="row">
                    <div class="col-lg-3">
                        <div class="mb-3">
                            @Html.LabelFor(x => x.Title, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mb-3">
                            @Html.LabelFor(x => x.FirstName, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mb-3">
                            @Html.LabelFor(x => x.MiddleName, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mb-3">
                            @Html.LabelFor(x => x.LastName, new { @class = "form-label" })
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="mb-3">
                            @Html.LabelFor(x => x.GenderEnumId, new { @class = "form-label" })
                            @Html.DropDownListFor(m => m.GenderEnumId, new SelectList(Model.GenderlList, "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                <a href="../@controllerName/List" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
            }
        </div>
    </div>
</div>
